@import 'components/core/variables'
@import 'components/core/typography'
@import 'liquid-grid/grid'

html, body, .layout
	height: 100%
	&, *
		margin: 0

body
	background: url(/Boilerplate/dist/images/background.png)

.layout
	grid( 2 )
	text-align: center

.sidebar
	col( 1/2 )

.content
	col( 1/2 )
	.box
		text-align: center
		display: inline-block

.sidebar, .content
	vertical-align: top
	margin-top: 50px
	padding: 0 25px


@media ({ narrow })
	.sidebar, .content
		col( 3/3 )
