@import url('//fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i')

body
	font-family: main-font, sans-serif
	-webkit-font-smoothing: antialiased

	&, strong, h1, h2, h3, h4, h5, h6
		color: #000
		font-weight: normal
	a
		color: primary-color
